.wrapper {
    font-size: 1.5em;
}
.wrapper > div {
    font-size: 1.5em;
}
.wrapper > div > p {
    font-size: 1.5em;
    width: 100px;
    margin: 0; auto;
    border: 50px solid red;
    padding: 20px;

}